:root {
    --hue: 223;
    --card-color: #bfbfbf;
    --link-color: #4da6ff;
    /* Цвет ссылки в светлой теме */
    --link-hover-color: #004499;
    /* Цвет при наведении в светлой теме */
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 10%, 10%);
    --primary: hsl(var(--hue), 90%, 50%);
    --trans-dur: 0.3s;
    --trans-timing: cubic-bezier(0.76, 0.05, 0.24, 0.95);
    --trans-timing-in: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    --trans-timing-out: cubic-bezier(0.05, 0.76, 0.06, 0.86);
    font-size: calc((100vw - 320px)/(2560 - 320) * (24 - 16) + 16px);
}